In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Medical Price Dataset.csv')

In [ ]:
df_sex = df['sex']

In [ ]:
np_sex = df_sex.to_numpy()
for i in range(len(np_sex)):
  if(np_sex[i] == 'female'):
    np_sex[i] = 0
  else:
    np_sex[i] = 1

In [ ]:
df_smoker = df['smoker']
np_smoker = df_smoker.to_numpy()
for i in range(len(np_smoker)):
  if(np_smoker[i] == 'yes'):
    np_smoker[i] = 0
  else:
    np_smoker[i] = 1

In [ ]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
df_region = df['region']
np_region = df_region.to_numpy()
for i in range(len(np_region)):
  if(np_region[i] == 'southwest'):
    np_region[i] = 1
  elif(np_region[i] == 'southeast'):
    np_region[i] = 2
  elif(np_region[i] == 'northwest'):
    np_region[i] = 3
  else:
    np_region[i] = 4

#Add a column of ones to x_train for the intercept term
#Calculate the coefficients using the normal equation
#Add a column of ones to x_test for the intercept term
#Calculate the predictions

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

def linear_regression(x_train, y_train):
    #Add a column of ones to x_train for the intercept term
    x_train = np.column_stack((np.ones(len(x_train)), x_train))
    
    #Calculate the coefficients using the normal equation
    theta = np.linalg.inv(x_train.T @ x_train) @ x_train.T @ y_train
    print('Theta :',theta)
    
    return theta

def predict(x_test, theta):
    #Add a column of ones to x_test for the intercept term
    x_test = np.column_stack((np.ones(len(x_test)), x_test))
    
    #Calculate the predictions
    y_pred = x_test @ theta
    
    return y_pred

#Split the data into features (x) and output (y) using the original dataframe

In [ ]:
#Split the data into features (x) and output (y) using the original dataframe
X_train = df.iloc[:,:-1].values

In [ ]:
y_train = df.iloc[:,-1].values

In [ ]:
X_train = X_train.astype(float)

#Train the linear regress. model

In [ ]:
#Train the linear regress. model
theta = linear_regression(X_train, y_train)
y_pred = predict(X_train, theta)

Theta : [ 10606.81356293    257.26385095   -130.50020423    332.4349716
    479.50562408 -23819.11986014    348.38275641]

In [ ]:
y_pred

array([25118.14519494,  3690.54294339,  6966.21777288, ...,
        4365.43723607,  1115.43959633, 37357.32412073])